
.linea{
    display: flex;
}
.cuento, .matriz{

    padding: 1em;
    margin: 0.7em;
    border: dotted;
    color: white;
    text-align: center;
  

}

.center {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  
  h1 {
    font-size: 5rem;
    margin-left: 700px;
    padding-left: 100px;
    padding-right: 100px;
    color: white;
    border: dashed;
    text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
    
   
  }
  
body{
    background-image: url(c2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

figcaption{
    color: white;
    font-size: 1.5rem;
    text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

button{
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.bloque{
    display: grid;
    margin-top: 100px;
    margin-left: 50px;
    width: 300px;
    height: 100px;
}

.recomendaciones{
    font-size: 50px;
}

.listadoReco{
    display:flex;
    width: 10px;
    height: 300px;
}

.cuadro{
    height: 390px;
    width: 270px;
}

.paginaCuento{
    height: 700px;
    width: 500px;
    display: flex;
    margin-left: 600px;
}


