.matriz{
    padding: 1em;
    margin: 1em;
    border: dotted;
    color: white;
}
.linea{
    display: flex;
}
.cuento{

    padding: 1em;
    margin: 1em;
    border: dotted;
    color: white;
  

}

.center {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  
  h1 {
    font-size: 3rem;
    margin-left: 700px;
   
  }
  
body{
    background-image: url(c2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}